################################################################################
# Diese .gitignore-Datei wurde von Microsoft(R) Visual Studio automatisch erstellt.
################################################################################

/.vs
/HorizonCreator/.vs/HorizonCreator/v17
/HorizonCreator/bin
/HorizonCreator/obj
*.json
/packages
